@using MinimalApi.Dtos
@model List<ElectrodomesticoResponse>
@{
    ViewData["Title"] = "GetAll";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID Electrodoméstico</th>
                <th>ID Casa</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Ubicación</th>
                <th>Encendido</th>
                <th>Apagado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var electrodomestico in Model)
            {
                <tr>
                    <td>@electrodomestico.IdElectrodomestico</td>
                    <td>@electrodomestico.IdCasa</td>
                    <td>@electrodomestico.Nombre</td>
                    <td>@electrodomestico.Tipo</td>
                    <td>@electrodomestico.Ubicacion</td>
                    <td>@electrodomestico.Encendido</td>
                    <td>@electrodomestico.Apagado</td>
                    <td>
                        <!-- Formulario para eliminar el electrodoméstico -->
                        <form asp-action="Delete" asp-route-id="@electrodomestico.IdElectrodomestico" method="post">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este electrodoméstico?')">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="AltaForm">
        <button type="button">Añadir</button>
    </a>
</div>