@using MinimalApi.Dtos
@model List<ElectrodomesticoResponse>
@{
    ViewData["Title"] = "Listado de electrodomesticos";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="AltaForm">
        <button class="btn btn-primary" type="button">Añadir</button>
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>ID Casa</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Ubicación</th>
                <th>Encendido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var electrodomestico in Model)
            {
                <tr>
                    <td>@electrodomestico.IdCasa</td>
                    <td>@electrodomestico.Nombre</td>
                    <td>@electrodomestico.Tipo</td>
                    <td>@electrodomestico.Ubicacion</td>
                    @if(electrodomestico.Encendido == true){
                        <td>Si</td>
                    }
                    else{
                        <td>No</td>
                    }
                    <td>
                        <form asp-action="Delete" asp-route-id="@electrodomestico.IdElectrodomestico" method="post">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este electrodoméstico?')">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>