@using MinimalApi.Dtos
@model List<UsuarioResponse>
@{
    ViewData["Title"] = "GetAll";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="AltaForm">
        <button class="btn btn-primary" type="button">Crear Usuario</button>
    </a>
<table class="table">
    <thead>
        <tr>
            <th>IdUsuario</th>
            <th>Correo</th>
            <th>Nombre</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach(UsuarioResponse usuario in Model){
            <tr>
                <td>@usuario.IdUsuario</td>
                <td>@usuario.Correo</td>
                <td>@usuario.Nombre</td>
                <td>@usuario.Telefono</td>
            </tr>
        }
    </tbody>
</table>
</div>

